<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <th:block th:replace="/fragments/BSCDN.html :: head"></th:block>
</head>
<body>
    <nav th:replace="/fragments/navbar_footer.html :: navbar"></nav>

    <div class="container">
        <h1 th:text="${myPost.title}"></h1>
        <p th:text="${myPost.body}"></p>
        <p>Post ID: <span th:text="${postId}"></span></p>
    </div>

    <footer th:replace="/fragments/navbar_footer.html :: footer"></footer>

    <th:block th:replace="/fragments/BSCDN.html :: script"></th:block>
</body>
</html>